

.p1 {
   
font-weight: 300;
font-size: 14px;
font-family: Playfair Display;
color:#B4AD9E;
;
}
.text1 {
    
    font-size: 14px;
    font-weight: 300;
    font-family: Playfair Display;
font-size: 14px;
font-weight: 432px;
line-height: 19px;
letter-spacing: 0em;
text-align: left;






}
.lifestyle {
    color: #03A9F4;
}
.text2 {
    color: #B4AD9E;
}
h3 {
   
    color: #626262;
    font-family: Playfair Display;
font-size: 30px;
font-weight: 400;
}
.text3 {
    font-family: Playfair Display;
font-size: 14px;
font-weight: 400;
color: #626262;

}
button {
    position: absolute;
    width: 165px;
    height: 60px;
    left: 506px;
    top: 1425px;
    
border-radius: 0px;
text-align: center;
border: 2px solid #626262
}
.text1 {
    display: flex;
    flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.conteiner1 {
    display: flex;
    flex-direction: row;
 
}
.conteiner2 {
    display: flex;
    flex-direction: row;
   
}
.conteinerall {
    align-items: center;
   
}
.card1 {
    position: absolute;
width: 420px;
height: 546px;
left: 148px;
top: 171px;
}
.card2 {
    position: absolute;
width: 420px;
height: 546px;
left: 633px;
top: 171px;

}
.card3 {
    position: absolute;
width: 421px;
height: 516px;
left: 147px;
top: 847px;

}
.card4 {
    position: absolute;
width: 420px;
height: 516px;
left: 633px;
top: 847px;
}
.all {
    position: relative;
width: 1200px;
height: 1543px;

background: #FFFFFF;
}