#p1 {
    color: brown;
text-decoration: underline;
}
.wrapper {
    font-size: 18px;
}
*.p1 {
    color: rgb(157, 237, 241);
}
p {
    color: rgb(209, 168, 80);
}
 #id_p3 {
    color: rgb(153, 86, 149);
} 
.p4 {
    color: rgb(53, 186, 99);
}
.p5 {
    color: rgb(143, 95, 189);
}
.wrapper_p {
    color: aliceblue;
    background-color: black;
}