
.task1-for-animation {
    height: 100px;
    width: 100px;
   justify-content: center;
   margin-left: 200px;
   margin-top: 100px;
   animation-name: task1;
   animation-timing-function: linear;
   animation-duration: 5s;
   background-color: aquamarine;
   animation-iteration-count: 3;
}
@keyframes task1 {
0% {background-color: black;}
20% {background-color: brown;}
40% {background-color: pink;}
60% {background-color: violet;}
80% {background-color: red;}
100% {background-color: black;}
}
.task2-for-animation {
height: 100px;
width: 100px;
background-color: white;
border-color: red;
border-radius:  50%;
margin-left: 200px;
margin-top: 100px;
animation-name: task2;
animation-timing-function: 20%;
animation-duration: 4s;
animation-iteration-count: 3;
transition-timing-function: linear;
}
@keyframes task2 {
    0% {
    height: 250px;
    width: 250px;
}
    20% {
        height: 100px;
    width: 100px;
    }
    80% {
        height: 150px;
    width: 150px;
    }
}
.quadrate {
    width: 100px;
height: 100px;
background-color: black;
animation-name: quadrate;
animation-duration: 4s;
animation-timing-function:linear; 
animation-iteration-count: infinite;
margin-top: 50px;
}
@keyframes quadrate {
    0% {
    transform: translate (e);
    }
    100% {
        transform: translate(100vw);
    }
}
.box1 {
    background-image: url(img1.svg);
    height: 256px;
    width: 256px;
 
}
.box2 {
    background-image: url(mail-svgrepo-com.svg);
    height: 64px;
    width: 64px;
    margin-top: 100px;
    margin-left: 100px;
    clip-path: ellipse(4rem 50% at right center);
}
.box3 {
    background-image: url(user-com1.svg);
    height: 64px;
    width: 64px;
    margin-top: 50px;
    margin-left: 100px;

}
.div1 {
    width: 300px;
    height: 300px;
    background-image: url(user-com1.svg);
    clip-path: polygon(
      50% 0%,
      60% 40%,
      100% 50%,
      60% 60%,
      50% 100%,
      40% 60%,
      0% 50%,
      40% 40%
    );
    animation: 4s poly infinite alternate ease-in-out;
    margin: 10px auto;
  }
  
  @keyframes poly {
    from {
      clip-path: polygon(
        50% 0%,
        60% 40%,
        100% 50%,
        60% 60%,
        50% 100%,
        40% 60%,
        0% 50%,
        40% 40%
      );
    }
  
    to {
      clip-path: polygon(
        50% 30%,
        100% 0%,
        70% 50%,
        100% 100%,
        50% 70%,
        0% 100%,
        30% 50%,
        0% 0%
      );
    }
  }
.box4 {
    background-image: url(user-svgrepo-com2.svg);
    height: 64px;
    width: 64px;
    margin-top: 50px;
    margin-left: 100px;
    
}
.box4:hover {
    background-color: black;
}
.circle {
    float: left;
    width: 64px;
    height: 64px;
    margin: 20px;
    shape-outside: circle(50% at 30%);
    clip-path: circle(50% at 0%);
    background: lightblue;
  }
.box5 {
    background-image: url(user-svgrepo-com3.svg);
    height: 64px;
    width: 64px;
    margin-top: 50px;
    margin-left: 100px;
}
.polygon1 {
    margin-left: 100px;
    margin-top: 50px;
}
 



.box-social-links1 {
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
    background-color: white;
    border-color: black;
    height: 44px;
    width: 206px
    
}

.homework-text {
    color: rgb(88, 78, 115);
    font-size: 40px;
    text-align: center;
}
 .instagram1 {
        fill: white;
}
.twitter1 {
    margin-left: 8px;
}
.container-regular-customers {
   margin-left: 125px;
   
    height: 184px;
    width: 1170px
    
  


}
.text-regular-customers {
    text-align: center;
    font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
}
.container-for-regular-customers{
display: flex;
margin-top: 70px;
}
.customer-container {
    margin-right: 30px;
}

.text-forhover {
    display: flex;
    margin-top: 200px;
    margin-left: 200px;
}
.text-for-hover2 {
    height: 16px;
    width: 135px
}
.text-for-hover2:hover {
    color: #2196F3;
    
}
.svg-for-hover2 {
    margin-right: 10px;
}

.svg-for-hover3 {
    margin-left: 30px;
    margin-right: 10px;
}

.quadrate32 {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: black;
    top: 150px;
    left: 670px;
}
.quadrate33 {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: silver;
    right: 400px;
    z-index: 1;
}
.quadrate34 {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: pink;
   top: -150px;
   right: 250px;

}
.block-for-quadrates {
    position: relative;
    margin-top: 200px;
}
.allcontainer-25hw {
    display: flex;
    margin-left: 130px;
}
.q1container-25hw {
    margin-right: 30px;
    width: 370px;
    height: 294px;

}
.q2container-25hw {
    margin-right: 30px;
    width: 370px;
    height: 294px;

}
.q2container-25hw {
    width: 370px;
    height: 294px;
}
.q1container-25hw-text {
   position: relative;
    width: 370px;
height: 70px;
background: rgba(47, 48, 58, 0.80);
color: white;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
opacity: 70;
top: -73px;
text-align: center;

}

.q2container-25hw-text {
    position: relative;
    width: 370px;
height: 70px;
background: rgba(47, 48, 58, 0.80);
color: white;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
opacity: 70;
top: -73px;
text-align: center;
}

.q3container-25hw-text {
    position: relative;
    width: 370px;
height: 70px;
background: rgba(47, 48, 58, 0.80);
color: white;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
opacity: 70;
top: -73px;
text-align: center;
}
.q1container-25hw-text-r {
    padding-top: 27px;
}
