.task1-for-animation {
  height: 100px;
  width: 100px;
  justify-content: center;
  margin-left: 200px;
  margin-top: 100px;
  animation-name: task1;
  animation-timing-function: linear;
  animation-duration: 5s;
  background-color: aquamarine;
  animation-iteration-count: 3;
}

@keyframes task1 {
  0% {
    background-color: black;
  }

  20% {
    background-color: brown;
  }

  40% {
    background-color: pink;
  }

  60% {
    background-color: violet;
  }

  80% {
    background-color: red;
  }

  100% {
    background-color: black;
  }
}

.task2-for-animation {
  height: 100px;
  width: 100px;
  background-color: white;
  border-color: red;
  border-radius: 50%;
  margin-left: 200px;
  margin-top: 100px;
  animation-name: task2;
  animation-timing-function: 20%;
  animation-duration: 4s;
  animation-iteration-count: 3;
  transition-timing-function: linear;
}

@keyframes task2 {
  0% {
    height: 250px;
    width: 250px;
  }

  20% {
    height: 100px;
    width: 100px;
  }

  80% {
    height: 150px;
    width: 150px;
  }
}

.quadrate {
  width: 100px;
  height: 100px;
  background-color: black;
  animation-name: quadrate;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin-top: 50px;
}

@keyframes quadrate {
  0% {
    transform: translate (e);
  }

  100% {
    transform: translate(100vw);
  }
}

.box1 {
  background-image: url(img1.svg);
  height: 256px;
  width: 256px;

}

.box2 {
  background-image: url(mail-svgrepo-com.svg);
  height: 64px;
  width: 64px;
  margin-top: 100px;
  margin-left: 100px;
  clip-path: ellipse(4rem 50% at right center);
}

.box3 {
  background-image: url(user-com1.svg);
  height: 64px;
  width: 64px;
  margin-top: 50px;
  margin-left: 100px;

}

.div1 {
  width: 300px;
  height: 300px;
  background-image: url(user-com1.svg);
  clip-path: polygon(50% 0%,
      60% 40%,
      100% 50%,
      60% 60%,
      50% 100%,
      40% 60%,
      0% 50%,
      40% 40%);
  animation: 4s poly infinite alternate ease-in-out;
  margin: 10px auto;
}

@keyframes poly {
  from {
    clip-path: polygon(50% 0%,
        60% 40%,
        100% 50%,
        60% 60%,
        50% 100%,
        40% 60%,
        0% 50%,
        40% 40%);
  }

  to {
    clip-path: polygon(50% 30%,
        100% 0%,
        70% 50%,
        100% 100%,
        50% 70%,
        0% 100%,
        30% 50%,
        0% 0%);
  }
}

.box4 {
  background-image: url(user-svgrepo-com2.svg);
  height: 64px;
  width: 64px;
  margin-top: 50px;
  margin-left: 100px;

}

.box4:hover {
  background-color: black;
}

.circle {
  float: left;
  width: 64px;
  height: 64px;
  margin: 20px;
  shape-outside: circle(50% at 30%);
  clip-path: circle(50% at 0%);
  background: lightblue;
}

.box5 {
  background-image: url(user-svgrepo-com3.svg);
  height: 64px;
  width: 64px;
  margin-top: 50px;
  margin-left: 100px;
}

.polygon1 {
  margin-left: 100px;
  margin-top: 50px;
}




.box-social-links1 {
  display: flex;
  margin-top: 50px;
  margin-left: 100px;
  background-color: white;
  border-color: black;
  height: 44px;
  width: 206px
}

.homework-text {
  color: rgb(88, 78, 115);
  font-size: 40px;
  text-align: center;
}

.instagram1 {
  fill: white;
}

.twitter1 {
  margin-left: 8px;
}

.container-regular-customers {
  margin-left: 125px;

  height: 184px;
  width: 1170px
}

.text-regular-customers {
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
}

.container-for-regular-customers {
  display: flex;
  margin-top: 70px;
}

.customer-container {
  margin-right: 30px;
}

.text-forhover {
  display: flex;
  margin-top: 200px;
  margin-left: 200px;
}

.text-for-hover2 {
  height: 16px;
  width: 135px
}

.text-for-hover2:hover {
  color: #2196F3;

}

.svg-for-hover2 {
  margin-right: 10px;
}

.svg-for-hover3 {
  margin-left: 30px;
  margin-right: 10px;
}

.quadrate32 {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: black;
  top: 150px;
  left: 670px;
}

.quadrate33 {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: silver;
  right: 400px;
  z-index: 1;
}

.quadrate34 {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: pink;
  top: -150px;
  right: 250px;

}

.block-for-quadrates {
  position: relative;
  margin-top: 200px;
  margin-bottom: 700px;
}

.allcontainer-25hw {
  display: flex;
  margin-left: 130px;
}

.q1container-25hw {
  margin-right: 30px;
  width: 370px;
  height: 294px;

}

.q2container-25hw {
  margin-right: 30px;
  width: 370px;
  height: 294px;

}

.q2container-25hw {
  width: 370px;
  height: 294px;
}

.q1container-25hw-text {
  position: relative;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.80);
  color: white;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  opacity: 70;
  top: -73px;
  text-align: center;

}

.q2container-25hw-text {
  position: relative;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.80);
  color: white;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  opacity: 70;
  top: -73px;
  text-align: center;
}

.q3container-25hw-text {
  position: relative;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.80);
  color: white;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  opacity: 70;
  top: -73px;
  text-align: center;
}

.q1container-25hw-text-r {
  padding-top: 27px;
}

.homework26-allblock {}





.backdrop {
  background-color: rgb(198, 192, 192);

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* display: flex;
  align-items: left;
  justify-content: center; */
  z-index: 1;
}

.modal {
  height: 581px;
  width: 528px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
}

.backdrop.is-hidden {
  /* opacity: 0;
    pointer-events: none; */
  display: none;
}



.h2text-for-hw26 {

  height: 23px;
  width: 448px;

  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 8px;
  margin-left: 30px;
  margin-bottom: 10px
}

.teg-closewindow {
  margin-left: 485px;
}

.texthw26-forinput {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #757575;

}

.iwijwidj {
  width: 448px;
  height: 40px;
  radius: 4px;
  margin-top: 6px;
  border-radius: 5px;
  color: #212121;
}

.allcontainer-for-xsacs {
  margin-left: 40px;

}

.spdpspsa {
  margin-top: 10px;
}

.dlwpfkwp {
  margin-top: 6px;
  border-radius: 4px;
  height: 120px;
  width: 448px
}

.container33 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  bottom: -15px;
  right: -65px;

}

.container33 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #2196F3;


}

.container33:hover input~.checkmark {
  background-color: #ccc;

}

.container33 input:checked~.checkmark {
  background-color: rgb(164, 160, 160);

}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container33 input:checked~.checkmark:after {
  display: block;
}

.container33 .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.pswldpa {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;


}

.pswldpa2 {
  color: #2196F3;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-left: 3px;

}

.jekfjowe {
  display: flex;
  height: 24px;
  width: 400.6234436035156px
}

.dkfmke {
  width: 200px;
  height: 50px;
  top: 712px;
  left: 700px;
  border-radius: 4px;
  color: white;
  background-color: #2196F3;
  border-color: #2196F3;
  margin-top: 30px;
  margin-left: 155px;
}

.data-modal-closee {
  border: none;
  background-color: white;
}

.classforinputfoto1 {

  position: relative;
}

.class-for-svgfoto-hw261 {
  position: absolute;
  top: 20px;
  margin-left: 13px;
}

.dkfmkeds {

  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
}

.secondecontainer-forhw26 {
  width: 570px;
  height: 86px;
  top: 1700px;
  left: 815px;
  border-radius: 4px;
  background-color: #2f303a;
  margin-left: 700px;
  margin-top: 150px;
}

.textforsecondecontainer {
  color: white;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-left: 5px;
}

.for-inputsecondecontainer {
  background-color: #2f303a;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  margin-left: 2px;
  margin-top: 5px;
}

.sldkqlwkd {
  display: flex;
  margin-left: 4px;
  margin-top: 9px;

}

.sdksolkdskow {
  width: 200px;
  height: 50px;
  background: #2196F3;
  border-color: #2196F3;
  border-radius: 4px;
  color: white;
  display: flex;
  margin-left: 18px;
}

.sldklakdlq {
  margin-top: 4px;


}

.fortext-hw26secondecontainer {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  margin-right: 8px;
}

.sldlskwwsjsjs {
  margin-top: 7px;
}

.sldkqoqoq {
  display: flex;
  margin-top: 5px;
  margin-left: 4px;
}

.container-headerhw27 {
  display: flex;
  margin-left: 540px;
  margin-top: 150px;


}

.skdkakspdk {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  width: 64px;
  height: 20px;
  margin-right: 20px;

}

.skdkakspdk2r {
  margin-left: 70px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  width: 64px;
  height: 20px;
}

.skdkakspdk3r {
  margin-right: 70px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  width: 64px;
  height: 20px;
}

span[data-descr] {
  position: relative;
  text-decoration: underline #2196F3;
  cursor: help;
}

span[data-descr]:hover::after {
  content: attr(data-descr);
  position: absolute;
  left: 0;
  top: 24px;
  min-width: 200px;
  border: 2px black solid;
  border-radius: 0;
  background-color: rgb(214, 212, 212);
  padding: 12px;
  color: #000000;
  font-size: 14px;
  z-index: 1;
}

.containerhw27-1-foto {
  width: 370px;
  height: 404px;
  top: 262px;
  left: 215px;
  border: 1px;
  

  box-shadow: 1px 4px 6px 0px #00000029;

  box-shadow: 0px 4px 4px 0px #0000000F;

  box-shadow: 0px 1px 1px 0px #0000001F;
  margin-top: 50px;

}

.classfortext1-hw27 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;


}

.classfortext2-hw27 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
  margin-left: 20px;
  margin-top: 8px;
}

.allcontainer-hw27-sectione1 {
  display: flex;
}

.containerhw27-12-foto {
  margin-left: 110px;
}

.containerhw27-13-foto {
  margin-left: 50px;
}

.containerhw27-14-foto {
  margin-left: 50px;
}
.foto-hoverhw27:hover {
background-color: black;

color: #2196F3;

}