.text1 {
    width: 290px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

letter-spacing: 0.02em;

color: #2E2F42;
}
.text2 {
    width: 30px;
height: 24px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
flex: none;
order: 1;
flex-grow: 0;
}
.conteinerall {
 display: flex;
 justify-content: center;
 align-items: center;
margin-right: -24px;
flex-wrap: wrap;
}
.card {
width: 360px;
height: 420px;
background: #FFFFFF;
border: 1px solid #E7E9FC;
margin-right: 24px; 
margin-bottom: 48px;


}
.card:hover {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}